@font-face {
    font-family: 'PixelTorje';
    src: url('/resources/fonts/PixelTorje.ttf');
}

.header {
    -fx-font-family: "PixelTorje";
    -fx-font-size: 96;
}

.bigButton {
     -fx-font-family: "PixelTorje";
     -fx-font-size: 36;
 }

.smallButton {
    -fx-font-family: "PixelTorje";
    -fx-font-size: 20;
}